<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
    <div style="width: 100%; align-content: center; align-items: center; text-align: center">
        <input type="text" placeholder="Server's Address" id="serverAdd" style="width: 20%"/>
        <br/>
        <br/>
        <input type="text" placeholder="Server's Token" id="servToken" style="width: 20%"/>
        <br/>
        <br/>
        <button onclick="buttonClick()">
            Submit
        </button>
    </div>
        <br/>
        <br/>
        <input style="width: 100%; height: 50px;" type="text" id="messageText" readonly/>

        <script type="text/javascript">
            var reqService = {
                put: function(url, body){
                    var headers = new Headers({
                        'Content-type':'application/json',
                        'charset': 'utf-a'
                    });

                    var data = {};

                    try{
                        data = JSON.stringify(body);
                    } catch(err) {

                    }

                    var options = {
                        method: 'PUT',
                        headers: headers,
                        credentials: 'same-origin',
                        body: data
                    };

                    return fetch(url, options)
                }
            };

            function buttonClick(){
                var servToken = document.getElementById('servToken').value,
                    addr = document.getElementById('serverAdd').value;

                reqService.put('/add-server', {addr :addr, servToken: servToken}).then(function(res){
                    if(res.status === 200){
                        //I just want the message to pop up first before the redirect
                        setTimeout(function(){ window.location='/config' }, 1000);
                    }
                    
                    return res.json()
                }).then(function(data){
                    var msgEle = document.getElementById('messageText');
                    (msgEle || {}).value = data.message;
                }).catch(function(err){
                    var msgEle = document.getElementById('messageText');
                    (msgEle || {}).value = err.message;
                });
            }
        </script>
    </body>
</html>