<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
        <input type="text" placeholder="Server IP" id="servIp"/>
        <br/>
        <input type="text" placeholder="Server Token" id="servToken"/>
        <br/>
        <br/>
        <button onclick="buttonClick()">
            Submit
        </button>
        <br/>
        <br/>
        <input style="width: 100%; height: 50px;" type="text" id="messageText" readonly/>

        <script type="text/javascript">
            var reqService = {
                get: function(url, body){
                    var headers = new Headers({
                        'Content-type':'application/json',
                        'charset': 'utf-a'
                    });

                    var data = {};

                    try{
                        data = JSON.stringify(body);
                    } catch(err) {

                    }

                    var options = {
                        method: 'GET',
                        headers: headers,
                        body: data
                    };

                    return fetch(url, options)
                },
                post: function(url, body){
                    var headers = new Headers({
                        'Content-type':'application/json',
                        'charset': 'utf-a'
                    });

                    var data = {};

                    try{
                        data = JSON.stringify(body);
                    } catch(err) {

                    }

                    var options = {
                        method: 'POST',
                        headers: headers,
                        body: data
                    };

                    return fetch(url, options)
                },
                put: function(url, body){
                    var headers = new Headers({
                        'Content-type':'application/json',
                        'charset': 'utf-a'
                    });

                    var data = {};

                    try{
                        data = JSON.stringify(body);
                    } catch(err) {

                    }

                    var options = {
                        method: 'PUT',
                        headers: headers,
                        body: data
                    };

                    return fetch(url, options)
                }
            };

            function buttonClick(){
                var servId = document.getElementById('servIp').value;
                var token = document.getElementById('servToken').value;

                reqService.put('/api/register', {token: token, server: servId}).then(function(res){
                    console.log(res.status);
                    return res.json()
                }).then(function(data){
                    console.log(data);
                    var msgEle = document.getElementById('messageText');
                    (msgEle || {}).value = data.message;
                }).catch(function(err){
                    console.log(err);
                });
            }
        </script>
    </body>
</html>